<div class=module>
    <div class="flex-module">
        <div class="flex-module-header">
            <h3>
                {{title}}</h3>
            <small>· <a href="#" class="js-refresh-suggestions">Refresh</a></small> 
            <small class="view-all">
                · <a data-element-term="view_all_link" href="#">View all</a>
            </small>
        </div>
        <div data-section-id="wtf" class="js-recommended-followers flex-module-inner">
        </div>
    </div>
</div>
