<div class="tweet-box tweet-user">
    <div class="tweet-box condensed">
        <div class=text-area>
            <div class="text-area-editor twttr-editor">
                <textarea id=zirpen placeholder="compose your Zirpen" class=twitter-anywhere-tweet-box-editor style="width:94%;" ></textarea>
            </div>
        </div>
        <div class=tweet-button-container>
            <div class="tweet-button-sub-container ui-helper-clearfix">
                <span id=zirpen-counter class=tweet-counter></span>
                <a id="zirpen-button" href="#" class="tweet-btn btn primary-btn right ">
                    Zirpen
                </a>
            </div>
        </div>
    </div>
</div>
