<form class="js-search-form content-searchbar">
  <table class="flex-table">
    <tbody>
      <tr>
        <td class="flex-table-primary">
          <div class="flex-table-form">
            <input type="text" placeholder="Search using a person’s full name or @username" name="q" class="flex-table-input search-query">
          </div>
        </td>
        <td class="flex-table-secondary">
          <button type="submit" class="btn flex-table-btn js-submit" tabindex="0">Search Twitter</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>